.main{
    background-color: var(--background-color-main);
}

/* START SECTION 1 */
.main__title{
    font-family: var(--font);
    color: var(--background-color-navbar);
    text-transform: uppercase;
    text-align: center;
    padding: 30px 20px 15px 20px;
    font-size: 3.0rem;
    font-weight: bold;
}

.section__article__p{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    padding: 0px 60px 0px 60px;
}

.section__article__p2{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    margin-top: 20px;
    padding: 0px 60px 0px 60px;
}
/* END SECTION 1 */

/* START SECTION 2 */
.section__article__title{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 10px 0px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.article__ul{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    margin-top: 10px;
}

.article__ul__li{
    text-align: justify;
    padding: 0px 55px 8px 55px;
}
/* END SECTION 2 */

/* START SECTION 3 */
.section__article__title2{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 10px 0px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.section__article__p3{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    margin-top: 12px;
    padding: 0px 60px 0px 60px;
}

.article__ul2{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    margin-top: 15px;
}

.article__ul__li2{
    text-align: justify;
    margin-top: 8px;
    padding: 0px 55px 8px 55px;
}

.article__ul__li3{
    text-align: justify;
    margin-top: 8px;
    padding: 0px 55px 0px 55px;
}

.article__p__bold{
    font-weight: 600;
}
/* END SECTION 3 */

/* START SECTION 4 */
.section__article__title3{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 15px 0px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.section__article__title4{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 10px 0px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.section__article__p4{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    margin-top: 5px;
    padding: 0px 30px 0px 30px;
}

.article__ul__li4{
    text-align: justify;
    padding: 0px 55px 8px 55px;
}
/* END SECTION 4 */

/* CONCLUSION */
.conclusao{
    font-family: var(--font);
    color: var(--paragraph-color);
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
    padding: 0px 30px 20px 30px;
    font-style: italic;
    margin-top: 20px;
}

.conclusao__bold{
    color: var(--background-color-navbar);
    font-weight: bold;
}