.main{
    background-color: var(--background-color-main);
}

/* START SECTION 1 */
.main__title{
    font-family: var(--font);
    color: var(--background-color-navbar);
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0px 10px 0px;
    font-size: 3.0rem;
    font-weight: bold;
}

.section__article__title{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 10px 30px;
    font-weight: 500;
    margin-top: 15px;
}

.section__article__p{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    padding: 0px 60px 0px 60px;
}

.section__article__title2{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 10px 30px;
    font-weight: 500;
    margin-top: 25px;
}
/* END SECTION 1 */

/* SEGUNDO TÍTULO PRINCIPAL*/
.main__title2{
    font-family: var(--font);
    color: var(--background-color-navbar);
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0px 10px 0px;
    font-size: 3.0rem;
    font-weight: bold;
    margin-top: 10px;
}
/* FIM DO SEGUNDO TEXTO*/

/* TEXTO EM NEGRITO DA SEÇÃO 2 E DO ÚLTIMO ARTICLE */
.article__p__bold{
    font-weight: 600;
}
/* FIM DO TEXTO EM NEGRITO DA SEÇÃO 2 */

/* ÚLTIMO ARTICLE DA SEÇÃO 2 */
.section__article__title3{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 0px 0px 10px 30px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.article__ul{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    margin-top: 20px;
}

.article__ul__li{
    text-align: justify;
    padding: 0px 55px 8px 55px;
}
/* ÚLTIMO ARTICLE DA SEÇÃO 2 */

/* ESPAÇO ENTRE O CONTEÚDO E O FOOTER */
.space{
    padding: 10px 0px 10px 0px;
}