.footer{
    text-align: center;
    max-height: 140px;
    min-height: 90px;
    padding: 10px;
    background-color: var(--background-header-footer);
}

.footer__text{
    font-family: var(--font);
    color: var(--white);
    text-align: center;
    margin-top: 30px;
    font-size: 1.6rem;
}