*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}

:root{
    --white: rgb(255, 255, 255);
    --background-header-footer: rgb(0, 148, 123);
    --background-color-navbar: rgb(0, 126, 105);
    --background-color-main: rgb(220, 233, 226);
    --font: 'Roboto', sans-serif;
    --paragraph-color: rgb(0, 27, 18);
    font-size: 62.5%;
}

.icon{
    position: fixed;
    right: 15px;
    bottom: 25px;
    border-radius: 15px;
    padding: 5px;
    color: var(--white);
    border: 2px solid var(--background-color-navbar);
    background-color: var(--background-color-navbar);
}

.icon:hover{
    background-color: rgb(0, 82, 68);
    border-color: rgb(0, 82, 68);
}