.main{
    background-color: var(--background-color-main);
}

/* START SECTION 1 */
.maintitle{
   font-family: var(--font);
   color: var(--background-color-navbar);
   font-size: 3.0rem; 
   text-transform: uppercase;
   padding: 30px 0px 20px 0px;
   text-align: center;
   font-weight: bold;
}

.article__p{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    padding: 0px 55px 0px 55px;
}

.article__title{
    font-family: var(--font);
    color: var(--background-color-navbar);
    font-size: 3.0rem; 
    padding: 20px 0px 20px 30px;
    font-weight: 500;
}
/* END SECTION 1 */

/* START SECTION 2 */
.article__ul{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    margin-top: 25px;
}

.article__ul__li{
    text-align: justify;
    padding: 0px 55px 8px 55px;
}
/* END SECTION 2 */

/* ESPAÇO ENTRE O CONTEÚDO E O FOOTER */
.space{
    padding: 10px 0px 10px 0px;
}

