.main{
    background: var(--background-color-main);
}

.main__title{
    font-family: var(--font);
    color: var(--background-color-navbar);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 3.0rem;
    font-weight: bold;
}

.div__img{
    width: 100%;
}

.main__div{
    padding: 20px 0px 20px 0px;
}

.div__p{
    font-family: var(--font);
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--paragraph-color);
    text-align: justify;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.div__a{
    font-family: var(--font);
    color: var(--paragraph-color);
    font-size: 3rem;
    line-height: 1.5;
    text-align: justify;
    padding: 20px 0px 20px 0px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.div__a:hover{
    color: var(--background-color-navbar);
    font-weight: bold;
}